.datepicker {
  display: inline-block;
  user-select: none;

  .months-wrapper {
    border: 1px solid gray;
  }
}

.month-wrapper {
  display: inline-block;
  vertical-align: top;

  .month-title {
    display: flex;
    justify-content: center;
  }

  .month {
    padding: 4px;

    .week + .week {
      margin-top: 4px;
    }
  }
}

.day {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 1px solid lightgray;
  cursor: pointer;

  + .day {
    margin-left: 4px;
  }

  &:hover {
    background: rgba(green, 0.5);

    &.in-range,
    &.selected {
      border-color: green;
    }
  }

  &.today {
    border-color: blue;
  }

  &.grayout {
    opacity: 0.2;
  }

  &.weekend {
    color: red;
  }

  &.in-range {
    background: lightblue;
  }

  &.selected {
    background: pink;
  }
}

.controls {
  display: flex;
  margin-top: 4px;

  > button {
    flex: 1 1 auto;

    & + button {
      margin-left: 4px;
    }
  }
}

.inputs-wrapper {
  margin-top: 10px;
}
